<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.greplr.staypay" >

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
            android:name=".HotelActivity"
            android:label="@string/title_activity_hotel" >
        </activity>
        <activity
            android:name=".BookActivity"
            android:label="@string/title_activity_book"
            android:theme="@style/AppThemeAction" >
        </activity>
        <activity
            android:name=".MyRoomActivity"
            android:label="@string/title_activity_my_room" >
        </activity>
        <activity
            android:name=".BitcoinActivity"
            android:label="@string/title_activity_bitcoin" >
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:label="@string/title_activity_web_view" >
        </activity>
        <activity
            android:name=".CabActivity"
            android:label="@string/title_activity_cab" >
        </activity>
        <activity
            android:name=".FoodActivity"
            android:label="@string/title_activity_food" >
        </activity>
    </application>

</manifest>
